<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.akexorcist.bluetoothspp.library"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:theme="@style/Theme.Main">
        <activity android:name=".DeviceList" />
    </application>

</manifest>
